name: Post Fiance and Digital Currency News every 5 minutes
on:
  schedule:
    # 每五分钟执行一次
    - cron: "*/5 * * * *"

#  push:
#    branches:
#      - master
env:
  CHROME_TYPE: chromium

jobs:
  build:
    name: Get Fiance and Digital Currency News
    runs-on: ubuntu-24.04
    steps:
      - name: Install Chromium
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 1
      - name: Set up Python 3.x
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: "x64" # Optional - x64 or x86, defaults to x64

      - name: Cache pip
        uses: actions/cache@v4
        with:
            path: ~/.cache/pip
            key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
            restore-keys: |
              ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Send Message
        run: |
          python main.py finance ${{ secrets.TELEGRAM_FINANCE_BOT_TOKEN }} ${{ secrets.TELEGRAM_FINANCE_CHANNEL }} -i 300

      - name: Touch change every first day of month
        run: if [[ $(date +%d) -eq 1 ]] && ! $(grep -q "$(date +'%F')" .keep_alive); then echo $(date +'%F') >> .keep_alive; fi

      - name: Auto Commit to keep Scheduled workflows alive
        uses: EndBug/add-and-commit@v9
        with:
          author_name: crazygit
          author_email: lianglin999@gmail.com
          message: 'Auto Commit to keep Scheduled workflows alive'
          add: .keep_alive
